PORT=3000

# Get your credentials here: https://toyhou.se/~developer/apps
TOYHOUSE_CLIENT_ID=your_client_id_here
TOYHOUSE_CLIENT_SECRET=your_client_secret_aqui

MOCK_TOYHOUSE=false

SESSION_SECRET=a_very_very_very_long_secret
